#areas.span-2.content
  = render :partial => 'areas'

#admits.span-6.content
  = render :partial => 'admits'

#appointments.span-8.content
  = render :partial => 'appointments'

#calendar.span-6.last.content
  = render :partial => 'availability'
