#areas.span-2
  = render :partial => 'areas'

#admits.span-6
  = render :partial => 'admits'

#appointments.span-8
  = render :partial => 'appointments'

#calendar.span-6.last
  = render :partial => 'availability'
