// Extra styles

#outer {
    padding: 10px;
    margin: 10px;
}

#nav_bar, #login_bar {
    padding: 0 10px;
    margin: 0 10px;
    text-align: center;
    font-size: larger;
}

#inner {
    padding: 10px;
    margin: 10px;
}

div.content {
    background-color: #eee;
    border: 1px solid #666;
    padding: 6px;
    margin: 6px;
}


